@charset "utf-8";
/* CSS Document */

p{
	color:#3F0;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color:#FFC;
	padding: 20px;
	}

h1, h2{
	font:"Comic Sans MS", cursive;
	background-color:#6FF
	}
span {color:rgb(255,0,255);}
body{
	background-image:url(slike/udruga-ozana-pozadina-1.jpg)
	}

a:link {
	color:black;
	background-color:white;
	padding: 5px;
	line-height:40px;
	border:1px solid #000000;
	}
a:haver{
	background-color:darkgray;
	}
ing{
	height:200px}